<div>
    <p>
        This project attempts to remake the iArtNorfolk website using all free software client-side technology and open data. The application uses: 
    </p>

    <ul>
        <li>
            <a href="http://www.emberjs.com/">
                Ember.js
            </a>
        </li>

        <li>
            <a href="http://www.leafletjs.com/">
                Leaflet
            </a>
        </li>

        <li>
            <a href="http://www.openstreetmap.org/">
                OpenStreetMap
            </a>
        </li>
    </ul>

    {{#link-to 'about.javascript' rel="jslicense"}}
        JavaScript license information
    {{/link-to}}
</div>
