<!--
    An HTML5 mobile app for navigating & browsing locations of public art, 
    architecture, and culture in Norfolk, VA. 
    Copyright (C) 2014 Code for Hampton Roads contributors

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.

    -->
<table id="jslicense-labels1">
    <tr>
        <th>
            File
        </th>

        <th>
            License
        </th>

        <th>
            Source
        </th>
    </tr>

    <tr>
        <td>
            <a href="scripts/3783c1ca.components.js">
                3783c1ca.components.js
            </a>
        </td>

        <td>
            <a href="https://www.gnu.org/licenses/gpl-3.0.html">
                GNU-GPL-3.0-or-later
            </a>
        </td>

        <td>
            <a href="https://github.com/c4hrva/norfolkart/archive/gh-pages.zip">
                gh-pages.zip
            </a>
        </td>
    </tr>

    <tr>
        <td>
            <a href="bower_components/handlebars/handlebars.js">
                handlebars.js
            </a>
        </td>

        <td>
            <a href="http://www.jclark.com/xml/copying.txt">
                Expat
            </a>
        </td>

        <td>
            <a href="https://github.com/wycats/handlebars.js/archive/v1.2.1.tar.gz">
                v1.2.1.tar.gz
            </a>
        </td>
    </tr>

    <tr>
        <td>
            <a href="bower_components/ember/ember.js">
                ember.js
            </a>
        </td>

        <td>
            <a href="http://www.jclark.com/xml/copying.txt">
                Expat
            </a>
        </td>

        <td>
            <a href="https://github.com/emberjs/ember.js/archive/v1.5.1.tar.gz">
                v1.5.1.tar.gz
            </a>
        </td>
    </tr>

    <tr>
        <td>
            <a href="bower_components/ember-data/ember-data.js">
                ember-data.js
            </a>
        </td>

        <td>
            <a href="http://www.jclark.com/xml/copying.txt">
                Expat
            </a>
        </td>

        <td>
            <a href="https://github.com/emberjs/data/archive/v1.0.0-beta.8.tar.gz">
                v1.0.0-beta.8.tar.gz
            </a>
        </td>
    </tr>

    <tr>
        <td>
            <a href="bower_components/leaflet/dist/leaflet.js">
                leaflet.js
            </a>
        </td>

        <td>
            <a href="http://www.freebsd.org/copyright/freebsd-license.html">
                Simplified-BSD
            </a>
        </td>

        <td>
            <a href="https://github.com/Leaflet/Leaflet/archive/v0.7.3.tar.gz">
                v0.7.3.tar.gz
            </a>
        </td>
    </tr>

    <tr>
        <td>
            <a href="bower_components/leaflet/dist/leaflet-src.js">
                leaflet-src.js
            </a>
        </td>

        <td>
            <a href="http://www.freebsd.org/copyright/freebsd-license.html">
                Simplified-BSD
            </a>
        </td>

        <td>
            <a href="https://github.com/Leaflet/Leaflet/archive/v0.7.3.tar.gz">
                v0.7.3.tar.gz
            </a>
        </td>
    </tr>

    <tr>
        <td>
            <a href="bower_components/leaflet/dist/leaflet.js">
                leaflet.js
            </a>
        </td>

        <td>
            <a href="http://www.freebsd.org/copyright/freebsd-license.html">
                Simplified-BSD
            </a>
        </td>

        <td>
            <a href="https://github.com/Leaflet/Leaflet/archive/v0.7.3.tar.gz">
                v0.7.3.tar.gz
            </a>
        </td>
    </tr>

    <tr>
        <td>
            <a href="bower_components/ember-leaflet/dist/ember-leaflet.js">
                ember-leaflet.js
            </a>
        </td>

        <td>
            <a href="http://www.jclark.com/xml/copying.txt">
                Expat
            </a>
        </td>

        <td>
            <a href="https://github.com/gabesmed/ember-leaflet/archive/v0.5.0.tar.gz">
                v0.5.0.tar.gz
            </a>
        </td>
    </tr>

    <tr>
        <td>
            <a href="scripts/ba9d46b0.templates.js">
                ba9d46b0.templates.js
            </a>
        </td>

        <td>
            <a href="https://www.gnu.org/licenses/gpl-3.0.html">
                GNU-GPL-3.0-or-later
            </a>
        </td>

        <td>
            <a href="https://github.com/c4hrva/norfolkart/archive/gh-pages.zip">
                gh-pages.zip
            </a>
        </td>
    </tr>

    <tr>
        <td>
            <a href="scripts/cbbfa75f.main.js">
                cbbfa75f.main.js
            </a>
        </td>

        <td>
            <a href="https://www.gnu.org/licenses/gpl-3.0.html">
                GNU-GPL-3.0-or-later
            </a>
        </td>

        <td>
            <a href="https://github.com/c4hrva/norfolkart/archive/gh-pages.zip">
                gh-pages.zip
            </a>
        </td>
    </tr>
</table>
